<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product_news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_news.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product_news.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_news.price %>
</p>

<%= link_to 'Edit', edit_product_news_path(@product_news) %> |
<%= link_to 'Back', product_news_path %>
